/*Классы управляющие представлением элементов*/
.__hide__ {
    display: none;
}

.__border__ {
    border: 1px solid black;
}

.__displayBlock__ {
    display: "block"
}

.__displayInlineBlock__ {
    display: "inline-block"
}

/**Классы украшательства*/
.__border-focus__ {
    border: 2px solid black;
    box-sizing: border-box;
}

/*Классы виджета*/
.__colorpicker__ {
    position: absolute;
    width: 350px;
    height: 300px;
    border: 1px solid rgb(170, 171, 170);
    font-family: sans-serif;
    font-size: 0.8em;
    margin-top: 2px;
    padding: 5px;
    color: rgb(78, 77, 77);
}

.__close__ {
    position: absolute; 
    width: 20px; 
    height: 20px; 
    right: 0;
    font-size: 1.4em;
    cursor: pointer;
}


/*Классы способа выбора цвета*/
.__way-of-getting-color__ {
    margin-top: 20px;
}

.__way-of-getting-color__ .__square__, 
.__way-of-getting-color__ .__slider__ {
    display: inline-block; 
    margin-right: 15px; 
}


/*Классы способа выбора формата цвета*/
.__color-formats__ {
    margin-top: 20px;
}

.__hex__, .__rgb__, .__webnames__ {
    display: inline-block; 
    margin-right: 15px;
}

/*Классы содержимого (выбранного способа выбора цвета)*/
.__content-of-way__ {
    margin-top: 20px;
}

.__webname-value__ {
    display: inline-block;
    width: 20px; 
    height: 20px; 
}
/* -> slide*/
.__slide__ {
    display: inline-block; 
    width: 80%;
}

.__parent-r__, .__parent-g__, .__parent-b__ {
    position: relative; 
    width: 98%; 
    height: 30px; 
    border-top: 1px solid transparent; 
    margin-bottom: 5px;
}

.__parent-r__ .__r__, .__parent-g__ .__g__, .__parent-b__ .__b__ {
    position: absolute; 
    width: 7px; 
    height: 28px; 
    border: 1px solid black; 
    left: 0; 
    top: 0
}

.__path-r__, .__path-g__, .__path-b__ {
    margin-top:4px; 
    width: 100%; 
    height: 20px; 
    box-sizing: border-box; 
    border: 1px solid grey;
}

.__path-r__ {
    background-color: #e03232;
} 

.__path-g__ {
    background-color: #2f902f;
} 

.__path-b__ {
    background-color: #3d3d9e;
}

.__inputs__ {
    display: inline-block;
    width: 18%;
}

.__slide-input__ {
    position: relative; 
    width: 100%; 
    height: 30px; 
    border-top: 1px solid transparent; 
    margin-bottom: 5px;
}

.__slide-input__ .__r__, .__slide-input__ .__g__, .__slide-input__ .__b__ {
    position: absolute; 
    width: 100%; 
    height: 28px; 
    border: 1px solid black; 
}

/*Содержимое -> Результат*/
.__result__ {
    border-top:1px solid transparent; 
    margin-top: 5px;
}

.__result-text__ {
    display: inline-block; 
    vertical-align: top; 
    margin: 12px 10px 0 0;
}

.__slider-result__ {
    display:inline-block; 
    width: 40px;
    height: 40px; 
    border-radius: 100%; 
    border: 1px solid black;
}

.__confirm-button__ {
    display: inline-block;
    vertical-align: top; 
    margin: 4px 0 0 44px; 
    background-color: inherit;
    border: 1px solid rgb(170, 171, 170); 
    color: rgb(88, 90, 88); 
    padding: 8px;
}