/*Классы управляющие представлением элементов*/
.hide {
    display: "none"
}

.border {
    border: 1px solid black;
}

.displayBlock {
    display: "block"
}

.displayInlineBlock {
    display: "inline-block"
}


/*Классы виджета*/
.colorpicker {
    position: absolute;
    width: 350px;
    height: 300px;
    border: 1px solid rgb(170, 171, 170);
    display: block;
    font-family: sans-serif;
    font-size: 0.8em;
    margin-top: 2px;
    padding: 5px;
    color: rgb(78, 77, 77);
}

.close {
    position: absolute; 
    width: 20px; 
    height: 20px; 
    right: 0;
    font-size: 1.4em;
    cursor: pointer;
}


/*Классы способа выбора цвета*/
.way-of-getting-color {
    margin-top: 20px;
}

.way-of-getting-color .square, 
.way-of-getting-color .slider {
    display: inline-block; 
    margin-right: 15px; 
}


/*Классы способа выбора формата цвета*/
.color-formats {
    margin-top: 20px;
}


/*Классы содержимого (выбранного способа выбора цвета)*/
.content-of-way {
    margin-top: 20px;
}

.webname-value {
    display: inline-block;
    width: 20px; 
    height: 20px; 
}
/* -> slide*/
.slide {
    display: inline-block; 
    width: 80%;
}

.parent-r, .parent-g, .parent-b {
    position: relative; 
    width: 98%; 
    height: 30px; 
    border-top: 1px solid transparent; 
    margin-bottom: 5px;
}

.parent-r .r, .parent-g .g, .parent-b .b {
    position: absolute; 
    width: 7px; 
    height: 28px; 
    border: 1px solid black; 
    left: 0; 
    top: 0
}

.path-r, .path-g, .path-b {
    margin-top:4px; 
    width: 100%; 
    height: 20px; 
    box-sizing: border-box; 
    border: 1px solid grey;
}

.path-r {
    background-color: #e03232;
} 

.path-g {
    background-color: #2f902f;
} 

.path-b {
    background-color: #3d3d9e;
}

.inputs {
    display: inline-block;
    width: 18%;
}

.slide-input {
    position: relative; 
    width: 100%; 
    height: 30px; 
    border-top: 1px solid transparent; 
    margin-bottom: 5px;
}

.slide-input .r, .slide-input .g, .slide-input .b {
    position: absolute; 
    width: 100%; 
    height: 28px; 
    border: 1px solid black; 
}

/*Содержимое -> Результат*/
.result {
    border-top:1px solid transparent; 
    margin-top: 5px;
}

.result-text {
    display: inline-block; 
    vertical-align: top; 
    margin: 12px 10px 0 0;
}

.slider-result {
    display:inline-block; 
    width: 40px;
    height: 40px; 
    border-radius: 100%; 
    border: 1px solid black;
}

.confirm-button {
    display: inline-block;
    vertical-align: top; 
    margin: 4px 0 0 44px; 
    background-color: inherit;
    border: 1px solid rgb(170, 171, 170); 
    color: rgb(88, 90, 88); 
    padding: 8px;
}